<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <ul>
        <li><a href="/index.html">Static Page</a></li>
        <li><a href="https://www.formula1.com" target="_blank">Formula1 official web-site</a></li>
    </ul>
    <img src="/images/f1.jpg" width="1210" height="707">
</body>
</html>